USE [ Beauty_Salon]
GO
/****** Object:  Trigger [dbo].[SumUslugaInsUpd]    Script Date: 07.12.2018 11:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[SumUslugaInsUpd]
   ON  [dbo].[SummUslugiKlienta]
   AFTER INSERT,UPDATE
AS 
declare @id int
set @id = (select [idUsugaKlientu] from inserted)
declare @summUsluga int
BEGIN
set @summUsluga = (select SUM([Summ]) from [dbo].[SummUslugiKlienta] where [idUsugaKlientu] = @id)
update [dbo].[UslugaKlientu]
set [SummUsluga] = @summUsluga where id = @id
END
